@import "../../styles/mixins.scss";

:host {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 60px 60px 60px;

  display: grid;
  grid-template-rows: auto auto 1fr auto;
  grid-template-columns: 1fr auto;
  gap: 20px 60px;

  header {
    grid-column: 1/3;
    grid-row: 1;
    margin: 0 -60px;
  }
  .hooks {
    grid-column: 1;
    grid-row: 2;
  }
  .scroll-area {
    grid-column: 1;
    grid-row: 3;
  }
  footer {
    grid-column: 1;
    grid-row: 4;
  }
  nav {
    grid-column: 2;
    grid-row: 2/5;
  }
}

.scroll-area
{
  overflow: hidden;
  scroll-behavior: smooth;
}

.btns
{
  li
  {
    margin: 23px 0 15px 0;
    height: 126px;
  }

  li>a {
    height: 100%;
    box-sizing: border-box;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    font-size:25px;
    text-align: left;
    padding: 18px 55px;

    &.listitemview-item-detail {
      padding: 18px 15px 15px 55px;
      display: grid;
      grid-template-columns: 5fr 2fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-gap: 0 10px;
      align-items: center;

      &>span
      {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      &>span:nth-child(1)
      {
        grid-column: 1;
        grid-row: 1 / 3;

        font-size: 35px;
      }

      &>span:nth-child(2)
      {
        grid-column: 1;
        grid-row: 3;
      }

      &>span:nth-child(3)
      {
        grid-column: 2;
        grid-row: 1;
      }

      &>span:nth-child(4)
      {
        grid-column: 2;
        grid-row: 2;
      }

      &>span:nth-child(5)
      {
        grid-column: 2;
        grid-row: 3;
      }
    }

    &.listitemview-name {
      font-size: 42px;

      span {
        /* box for ellipsis */
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }
  }
}

.hooks {
  max-width: 800px;
  
  &>div /* text */
  {
    font-size:18px;
    color:rgb(60,60,60);
  }

  ul
  {
    list-style-type: none;
    padding: 0;
    margin: 3px 0 0 0;
  }
  li {
    display:inline-block;
    margin:2px 5px 6px 0px;
    padding:0;

    &>*
    {
      display:inline-block;
      width: 56px;
      height: 56px;
      font-size: 35px;
      text-align: center;
      line-height: 56px;
      border-radius: 10px;
    }
    &>a
    {
      color: $color-btn-secondary-fg;
      background: $color-btn-secondary-bg;
      box-shadow: 3px 3px 3px $color-btn-secondary-shadow;
    }
    &.disabled1>span
    {
      color: $color-btn-secondary-disabled-fg;
      background: $color-btn-secondary-disabled-bg;
    }
  }
}

a.handicap {
  @include nav-link;
  background: url(../../assets/img/Button_Rollstuhlfahrer.png) no-repeat center / contain;
}

.scrollbar
{
  div
  {
    height: 70px;
    width: 70px;
    margin: 30px 0;
  }

  .scrollup
  {
    background-image: url(../../assets/img/btn_scrollup.png);
  }

  .scrollup.disabled
  {
    background-image: url(../../assets/img/btn_scrollup_d.png);
  }

  .scrolldown
  {
    background-image: url(../../assets/img/btn_scrolldown.png);
  }

  .scrolldown.disabled
  {
    background-image: url(../../assets/img/btn_scrolldown_d.png);
  }
}