<header>
  <span>{{ entity?.name }}</span>
  <img src="assets/img/header2.png" />
</header>

<nav>
  <a routerLink="/" queryParamsHandling="preserve" class="home" homeIcon touchClick></a>
  <a *ngIf="showBack" class="back" href="javascript: window.history.back()" backIcon touchClick></a>

  <div class="scrollbar nav-next">
    <div class="scrollup" id="btnUp" (click)="scroll(-1)" [ngClass]="{'disabled': !showScrollup }" upIcon touchClick></div>
    <div class="scrolldown" id="btnDown" (click)="scroll(1)" [ngClass]="{'disabled': !showScrolldown }" downIcon touchClick></div>
  </div>

  <a routerLink="/" queryParamsHandling="preserve" class="home nav-next" homeIcon touchClick></a>
  <a *ngIf="showBack" class="back" href="javascript: window.history.back()" backIcon touchClick></a>
</nav>

<div *ngIf="enableAnchors" class="hooks">
  <div>Bitte den Anfangsbuchstaben des gesuchten Begriffs w&auml;hlen</div>
  <ul class="hooks">
    <li *ngFor="let a of hooks | keyvalue" [ngClass]="{'disabled1': !a.value}">
      <a *ngIf="a.value" (click)="scrollTo(a.key)" touchClick>{{a.key}}</a>
      <span *ngIf="!a.value" class="Buttons-Schnellzugr">{{a.key}}</span>
    </li>
  </ul>
</div>

<div class="scroll-area" #divScroll (scroll)="updateScrollTop()">
  <ul class="btns" [ngStyle]="{'margin-top.px' : handicappedScrollOffset}">
    <li *ngFor="let item of children" class="item">
      <a [routerLink]="['/'].concat(item.path ?? [])" queryParamsHandling="preserve" [id]="item.hook ? 'anchor' + item.hook : null"
        [ngSwitch]="item.listItemView ?? defaultItemView" [class]="'listitemview-' + (item.listItemView ?? defaultItemView)" touchClick>
        <ng-container *ngSwitchCase="'item-detail'">
          <span>{{ item.item.term1 }}</span>
          <span>{{ item.item.term2 }}</span>
          <span>{{ item.item.house }}</span>
          <span>{{ item.item.level }}</span>
          <span>{{ item.item.room }}</span>
        </ng-container>
        <ng-container *ngSwitchDefault>
          <span>{{ item.name }}</span>
        </ng-container>
      </a>
    </li>
  </ul>
</div>

<footer>
  <div *ngIf="enableAnchors && handicapped" class="hooks">
    <div>Bitte den Anfangsbuchstaben des gesuchten Begriffs w&auml;hlen</div>
    <ul>
      <li *ngFor="let a of hooks | keyvalue" [ngClass]="{'disabled1': !a.value}">
        <a *ngIf="a.value" (click)="scrollTo(a.key)" touchClick>{{a.key}}</a>
        <span *ngIf="!a.value" class="Buttons-Schnellzugr">{{a.key}}</span>
      </li>
    </ul>
  </div>
  <a *ngIf="enableAnchors && !handicapped" (click)="showHandicapped()" class="handicap" touchClick>Handicap</a>
</footer>