
h2, h3, p
{
  font-weight: normal;
  text-decoration: none;
  font-variant: normal;
  padding: 0;
  margin: 0;
  line-height: 1.5em;
}

h2
{
  font-size: 42px;
}

h3
{
  font-size: 32px;
}

p
{
  font-size:  25px;
}

article
{
  margin: 2% 5% 0 5%;
}

.map
{
  margin: 60px 0 0 0;
  width: 100%;
}

nav, footer {
  padding: 1vh 60px;
  &>.handicap {
    float: left;
    margin: 0 4vw 0 0;
  }
  &>a {
    float: right;
    margin: 0 0 0 4vw;
  }
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
