<header>
  <span>{{ entity?.parent?.name }}</span>
  <img src="assets/img/header2.png" />
</header>

<nav>
  <a routerLink="/" queryParamsHandling="preserve" class="home" homeIcon touchClick></a>
  <a class="back" href="javascript: window.history.back()" backIcon touchClick></a>

  <a routerLink="/" queryParamsHandling="preserve" class="home nav-next" homeIcon touchClick></a>
  <a class="back" href="javascript: window.history.back()" backIcon touchClick></a>
</nav>

<article *ngIf="!entity">
  <span>Nicht gefunden</span>
</article>
<article *ngIf="entity && !entity?.item">
  <span>Keine Informationen verfügbar</span>
</article>
<article *ngIf="entity?.item">
  <div class="content">
    <h2>{{ entity?.item?.term1 }}</h2>
    <h3>{{ entity?.item?.term2 }}</h3>
    <p>
      {{ entity?.item?.house }}<br>
      {{ entity?.item?.level }}<br>
      {{ entity?.item?.room }}
    </p>
    <p>
      <ng-template *ngIf="entity?.item?.phone">Fon: {{entity?.item?.phone}}")<br></ng-template>
      <ng-template *ngIf="entity?.item?.email">E-mail: {{entity?.item?.email}}")</ng-template>
    </p>
    <p>
      {{ entity?.item?.info }}
    </p>
  </div>

  <img *ngIf="entity?.item?.map" class="map" [src]="entity?.item?.map" alt="Lageplan"/>
</article>
