
<header>
  <span>Suchen</span>
  <img src="assets/img/header2.png" />
</header>

<nav>
  <a routerLink="/" queryParamsHandling="preserve" class="home" homeIcon></a>
  <a routerLink="/" queryParamsHandling="preserve" class="home nav-next" homeIcon></a>
</nav>

<ul class="results btns">
  <li *ngFor="let item of results">
    <a [routerLink]="['/'].concat(item.path ?? [])" queryParamsHandling="preserve"><span>{{item.name}}</span></a>
  </li>
</ul>

<input #txtFind (keyup)="txtFind.value = txtFind.value.toUpperCase(); updateFind()"/>

<div id="keyboard">
  <div *ngFor="let row of keyboard">
    <a *ngFor="let key of row" role="button" [class]="key.class" (click)="keyPress(key)" [innerHTML]="key.display"></a>
  </div>
</div>
