
<header>Suchen</header>

<nav>
  <a routerLink="/" queryParamsHandling="preserve" class="home">Home</a>
  <a routerLink="/" queryParamsHandling="preserve" class="home nav-next">Home</a>
</nav>

<ul class="results btns">
  <li *ngFor="let item of results">
    <a [routerLink]="['/'].concat(item.path ?? [])" queryParamsHandling="preserve">{{item.name}}</a>
  </li>
</ul>

<input #txtFind (keyup)="txtFind.value = txtFind.value.toUpperCase(); updateFind()"/>

<div id="keyboard">
  <div *ngFor="let row of keyboard">
    <a *ngFor="let key of row" role="button" [class]="key.class" (click)="keyPress(key)" [innerHTML]="key.display"></a>
  </div>
</div>
