<table>
  <thead>
    <tr>
      <th></th>
      <th class="colheader" *ngFor="let day of days">
        {{ day.date | date : 'EEEE' }}<br>{{ day.date | date : 'dd.MM.yyyy' }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let hour of hours">
      <th class="rowheader">
        {{ hour | date : 'HH:mm' }}
      </th>
      <td *ngFor="let day of days">
        <div>
          <div></div>
          <hr *ngIf="isMatch(day, hour, now)" [ngStyle]="{ 'top.%': getTop(now) }" />
          <div class="item" *ngFor="let item of getItems(day, hour)" [ngStyle]="{ 'top.%': getTop(item.begin), 'height.%': getHeight(day, item) }">
            <!-- {{ item.begin | date : 'short' }} - {{ item.end | date : 'short' }} -->
            <div>{{ item.name1 }}</div>
            <div>{{ item.name2 }}</div>
            <div>{{ item.info1 }}</div>
            <div>{{ item.info2 }}</div>
            <div>{{ item.info3 }}</div>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
