/* Encoding: UTF-8 ÄÖÜ */

html { height: 100%;}

body
{
	/* fill complete frame (required) */
    height: 100%;
	overflow:hidden;             
    margin: 0; 
	padding: 0; 

    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

h1, h2, h3, p
{
    font-weight: normal;
    text-decoration: none;
    font-variant: normal;
    padding: 0;
    margin: 0;
    line-height: 1.5em;
    color: #4E5D6B;
}

h1
{
    font-size:  40px;
    line-height: 72px;
}

h2
{
    font-size:  35px;
}

h3
{
    font-size:  30px;
}

p
{
    font-size:  25px;
}

ul {
    list-style-type: none;
    padding:0;
    clear:both;
}

li {
    padding: 2% 10% 2% 10%;
    margin: 0 auto;
}

li>a {
    display: block;
    text-decoration: none;
    background: linear-gradient(to bottom, rgb(139,177,222), rgb(0,123,192));
    border-radius: 15px;
    color: #e5e5e5;
    text-align: center;
    font-size: 48px;
    padding: 18px 15px 15px 15px;
    height:90px;

}

a.anchor {
    background-color:inherit;
    height: 0;
    padding: 0;
    margin: 0;
    border: 0 none;
}

a.home, a.back {
    display:block;
    height: 99px;
    width: 99px;
    font-size: 0;
    background: transparent url(home.png) no-repeat center;
}

a.back 
{
    background: transparent url(back.png) no-repeat center;
    background-size: 88px auto;
    text-decoration: none;     
}

a.handicap {
    display:block;
    height: 99px;
    width: 99px;
    font-size: 0;
    background: url(Button_Rollstuhlfahrer.png) no-repeat center;
                /*  &&& border:solid 1px red;  */
    background-size: 88px auto;
    text-decoration: none;        
}

.back1
{   
    position:absolute; 
    top: 285px;
    right: 16%; 
    height: 99px; 
    width: 99px; 
}

.back2
{   
    position:absolute; 
    bottom: 1%;
    right: 16%;
    height: 99px; 
    width: 99px; 
}

.handicap
{   
    position:absolute; 
    bottom: 1%;
    left: 4%; 
    height: 99px; 
    width: 99px;
}

.home1
{   
    position:absolute; 
    top: 285px;
    right: 4%; 
    height: 99px; 
    width: 99px; 
}

.home2
{   
    position:absolute; 
    bottom: 1%;
    right: 4%;
    height: 99px; 
    width: 99px; 
}

.hand 
{
    text-align:center;
    margin-top: 30px;
}

.hand2 
{

    position:absolute; 
    top: 540px;
    right: 65px;
}

.hand3
{
    text-align:center;
    margin-top: 50px;
}


.scrollbar
{
    position:absolute; 
    top: 800px;
    right: 5%;

    height: 170px;
    width: 70px;
    margin: 0 auto;
    background: #e5e5e5;
}

.scrollbar .scrollup
{
    height: 70px;
    width: 70px;
    background-image: url(btn_scrollup.png);
}

.scrollbar .scrollup.disable_scroll
{
    background-image: url(btn_scrollup_d.png);
}

.scrollbar .scrolldown
{
    margin-top: 30px;
    height: 70px;
    width: 70px;
    background-image: url(btn_scrolldown.png);
}
.scrollbar .scrolldown.disable_scroll
{
    background-image: url(btn_scrolldown_d.png);
}

footer
{   
    background-color:rgb(255,20,20);
}


/* ++++++++++++++  main.cshtml ++++++++++++++ */
.main>h1 
{
    margin: 0 3%;
    float:left;
}

.main img.header {
    width:100%;
    margin-bottom: 30px;
}

.main li>a
{
    height: 55px;
    line-height: 100%;
    background: linear-gradient(to bottom, rgb(139,177,222), rgb(0,123,192));
    
}

.Ueberschrift 
{
    font-size: 110px;
    color:rgb(0, 60, 150);
    text-align:center;
    height:150px;
    padding-top: 16px;
}

.main li.search_mock>a
{
  background:rgb(230,230,230);
  height: 40px;
  line-height: 40px;
  border:solid rgb(80,80,80) 2px;
  color:rgb(100,100,100);
}

.main li.search_mock>a img
{
  width:50px;
  margin: -5px 0 -7px 0;
}

/* ++++++++++++++ list.cshtml ++++++++++++++  */

.header1
{

    height:204px;
    border-bottom: solid 12px #7f7f7f;
    border-top: solid 12px #7f7f7f;
    background: url(header2.jpg) no-repeat right;
    color:rgb(0,255,0); 
    font-size:40px;                  
}

.header1 div
{          
    color: #4E5D6B;
    font-size:46px; 
    padding: 70px 0 0 53px;
                    
}

.Scrollbereich
{   
     margin-top: 220px;
     max-height: 1130px;
     overflow:scroll;
}

.divScroll li
{   
    padding: 23px 200px 15px 60px;       
    color: red;      
}

.auflistung1
{
    font-size: 30px;
    color: rgb(255,255,255);  
    height: 65px;
    overflow: hidden;  
    line-height: 1em;
    vertical-align: middle;         
}

.auflistung2
{
    font-size:22px;
    color:rgb(255,255,255);       
    height: 30px;
    overflow:hidden;   
}

.col1   
{ 
    width: 490px;
    float:left;
}

.col2
{
    float:right;
    width:275px;
    font-size:18px;
    color:rgb(255,255,255);
    line-height:  1.6em; 
}

.col1>h2, .col1>h3
{
    font-size:30px;
    font-weight: normal;
    color:rgb(225,255,255);
}

.schnellzugriff1
{ 
    position:absolute;    
    top: 245px;
    left:59px;
    width:820px; 
    padding-top:-60px;
}

.schnellzugriff2
{ 
    margin:10px 50px 0 59px;
    width:820px;     
}

.Text_Schnellzugriff
{
    font-size:18px;
    color:rgb(60,60,60);
    margin: 0px 0 -7px 4px;
    padding: 20px 0 0 0;
}

.list>h1 
{
    margin: 0 3%; 
    float:left;  
}
                             
.list ul.hooks li 
{ 
    float:left;
    margin:2px 5px 6px 0px;
    padding:0;
}

.list ul.hooks li>a
{
    width: 30px;  
    height: 30px;  
    color:rgb(255,255,255);
    padding:8px 13px 18px 12px;
    font-size: 35px;  
    background: rgb(120,120,120); 
    border:solid 1px rgb(0,0,0); 
    border-radius: 10px;
}

.disabled1 
{
    color:rgb(200,255,200); 
    background: rgb(100,120,120); 
    font-size: 35px; 
    border:solid 1px rgb(0,0,0);
    border-radius: 10px;
    width: 30px;  
    height: 30px; 
    padding:25px;
    display:inline-block;                   
}

.hooks .disabled1 
 {

    width: 55px;
    height: 56px;
    color:rgb(160, 160, 160); 
    padding:50px; margin: 20px;  
    font-size: 35px; 
    text-align: center;
    vertical-align: bottom;
    background: rgb(200,200,200); 
    margin: 15px 0 0 0;
}

.list .hooks .disabled1 div
{
    padding-top:0px;
    margin-top: 8px;  
}

.Buttons-Schnellzugr
{
    display:inline-block; 
    padding:20px 0px 20px 0px; margin:20px 0px 0px 0px;
}



/* ++++++++++++++ search.cshtml +++++++++++++ */
.divScrollsearch                                
{   
    margin-top: 16%;       
}

.divScrollsearch li
{   
    padding: 23px 8.5% 15px 7.5%;       
    color: red;
}

.divScrollsearch li>a                                
{   
    font-size: 42px;
    line-height: 1em;
    height:45px;               
}

.search input
{
    display: block;
    font-size: 40px;
    margin: 6% 0 0 7.5%;
    width: 83.5%; 
}

#keyboard 
{
    padding: 2% 0% 3% 4%;
}

.search #keyboard 
{
    margin: 0 3%;
}

.search #keyboard a
{
    display: inline-block;
    text-decoration: none;
    background: linear-gradient(to bottom, rgb(139,177,222), rgb(0,123,192));
    border-radius: 15px;
    color: #e5e5e5;
    text-align: center;
    font-size: 40px;
    line-height: 1.9em;          /* line-height: 50px; */
    margin: 5px;
    width: 78px;         /*  65  50px */
    height: 78px;        /*  50px */
}

.Tastatur_untere_Reihe
{
    margin-left: 93px;     /*  margin-left: 185px; */

}


.search #keyboard a.space
{
    width: 541px;           /*  width: 356px; */
}

.search #keyboard .Tastatur_untere_Reihe a
{
    font-size: 35px;
    line-height: 2em;          
}


/* ++++++++++++++ details.cshtml ++++++++++++++  */
.detail 
{
    margin-top: 2%;
}

.detail>h1 
{
    margin: 0 3%;
    float:left;
}

.detail .content 
{
    clear:both;
    margin: 0 5%;
}

.detail .map 
{
    width: 100%;
}

.content h2
{
    font-size: 42px;
}

.content h3
{
    font-size: 32px;
}

.map 
{
    width: 100%;
}

.map2 
{
    margin: 60px 0 0 0;       
    height:695px;
    background:rgb(230,230,230);  
    width: 100%;
}

/* --------------------- QR-Code: - für zukünftige Projekte - hier nicht benötigt (deshalb außerhalb platziert -------------------  */
.QR-Code {
    position:absolute;    
    bottom: -100px;
    right:-100px;    
    width: 1px; 
    height:1px;        
}
