/* redefine defaults */
* {
    margin: 0; padding: 0; border:none; overflow:hidden; outline:none;
    text-decoration:none;  /* */
    color:rgb(255,0,0);      /* +++ Textfarbe für Tastatur !! provisorisch */
  }

html { height: 100%;}

body
{
        /* fill complete frame (required) */
    height: 100%;

    /* text */
    font-family: Arial, Helvetica; sans-serif;

    /* background */
    background-color: white;
}

h1, h2, h3, p
{
    font-weight: normal;
    text-decoration: none;
    font-variant: normal;
    padding: 0;
    margin: 0;
}

a.start
{
    display: block;
    width: 230px;
    height: 62px;
    background: url(btn_start.png) no-repeat center;
    text-decoration: none;
    color: White;
    font-size: 45px;
    line-height: 62px;
    text-align: center;
    border-radius: 7px;
}

a.back
{
    display: block;
    width: 62px;
    height: 62px;
    background: url(btn_back.png) no-repeat center;
    text-decoration: none;
    font-size:0;
    border-radius: 7px;
}

/* top */
form
{
    height: 100%;
}

.top
{
    position:fixed;
    width: 100%;
    height: 100%;
}

.top>div
{
    height: 100%;
}

.top>div.lt0
{
    height: 25px;
    position:absolute;
    bottom:0;
    width: 100%;
    background-color: #e5e5e5;
    /* Ori: margin-left: 66px;  */
}

/* main */
.lm1
{
    height: 25px;
    background-color: #e5e5e5;
}


.hm1                                 /*  Bereich Header - nicht benötigt?  in der ascx-datei gelöscht */
{
    /* position: relative; */
    /* height: 258px; */
    /* padding: 0 0 0 0;  */   /* Orig: padding: 45px 0 0 0;  */
}

.hm1>h2
{
    padding: 0 0 30px 0;
    margin: 0 0 0 66px;
    font-size: 49px;
    line-height: 49px;
    color: #7f7f7f;                       /*  neu: color:rgb(127,127,127);   */
}
.hm1>h1                                          /* ----- Überschrift ----- */
{
    position: absolute;
    top: 98px;
    left: 260px;        /* Ori: left: 618px; */
    font-size:  67px;
    line-height: 72px;
    color: #4E5D6B;
}

.dm1
{
    position:relative;
    margin-top: 110px;           /* 56 */
}
.dm1 a                                                                /* +++ Buttons */
{
    display: block;
    text-decoration: none;
    background: linear-gradient(to bottom, rgb(139,177,222), rgb(0,123,192));
    border-radius: 15px;


    height: 74px;
    width: 574px;
    line-height: 72px;
    font-size: 40px;
    color: #e5e5e5;
    margin: 0 auto 41px auto;
    text-align: center;
}

.dm1 a                                                                /* +++ Buttons */
{
    display: block;
    text-decoration: none;
          /*  Ori:  background: url(btn_category.png) no-repeat center; */
    background: linear-gradient(to bottom, rgb(139,177,222), rgb(0,123,192));
    border-radius: 15px;
    height: 74px;
    width: 574px;
    line-height: 72px;
    font-size: 40px;
    color: #e5e5e5;
    margin: 0 auto 41px auto;
    text-align: center;
}

.dm1 a>em
{
    display: block;
    text-decoration: none;
    font-style: normal;
    background: url(btn_category_important.png) no-repeat center;
    height: 72px;
    width: 570px;
}

.handm
{
    position: absolute;
    top: 167px;
    left: 854px;
    width: 200px;
    height: 120px;
}
.handm>img { position: absolute; }
.handm>img.ci { left: 16px; top: 16px; }
.handm>img.hand { left: 70px; top: 35px; }

/* list */


.hl1, .hd1
{
    position:relative;
    height:204px;
    border-bottom: solid 12px #7f7f7f;
    border-top: solid 12px #7f7f7f;
    background: url(header2.jpg) no-repeat right;            /* Bild Header */
    color:rgb(0,255,0);                          /* ctl08_vc_ctl13_time */
}

.hl1>h2, .hd1>h2
{
    padding: 0 0 12px 0;
    margin: 0 0 0 66px;
    font-size: 40px;                                             /* +++ Schriftgröße Kopfbereich , orig: 47px */
    line-height: 47px;
    color: #605D5C;
}

.hl1>h2:first-child,
.hd1>h2:first-child
{
    margin-top: 58px;
}

.hl2
{
    position: relative;
    height: 180px;   /* Ori:  218px;  */
}
.hl2>h1
{
    color:rgb(96,93,92);    /* #605D5C; */
    font-size: 32px;                                    /* +++ Schriftgröße "Ihr Suchbereich" , orig: 40px */
    line-height: 40px;
    margin: 54px 0 0 66px;
}

.hl2>h2
{
    color:rgb(96,93,92);           /* v2:        Orig: color: #7f7f7f; */
    font-size: 45px;
    line-height: 50px;
    margin: 16px 0 0 66px;
}

.hl2>h2 em
{
    text-decoration: none;
    font-variant: normal;
    font-style: normal;
}

.hl2>a
{
    position: absolute;
    right:80px;              /* Ori:       left: 715px; */
    top:79px;
}

.dl                                         /* Bereich Auflistung */
{
    margin: 30px 80px 30px 66px;           /* Alt:   0 80px 50px 66px */
    height: 1130px;
}

.dl>div
{
    float:left;
}

.dl>div>.spacer
{
    height: 575px;
}

.dl li
{
    display: block;
    overflow: hidden;
           /* Ori:  height: 96px;     width: 823px;         */
           /* Ori: background: url(btn_list.png) no-repeat center; */

}

.dl .item               /* +++ Neu */
{
    background: linear-gradient(to bottom, rgb(139,177,222), rgb(0,123,192));
    border-radius: 15px;
    height: 96px;
        margin-bottom: 19px;
}


.dl li>div
{
    float: left;
    overflow: hidden;
    font-size: 25px;
    line-height: 29px;
    color: #e5e5e5;
}

.dl li>div.col1
{
    margin: 10px 0 0 31px;
    width: 520px;
}

.dl li>div.col1>h2
{
    font-size:25px;
    line-height: 29px;
    font-weight: normal;
    color:rgb(255,255,255);           /* +++ Schriftfarbe */
}

.dl li>div.col1>h3
{
    font-size:18px;
    line-height: 22px;
    font-weight: normal;
    color:rgb(255,255,255);           /* +++ Schriftfarbe */
}

.dl li>div.col2
{
    margin: 4px 0 0 8px;
    width: 256px;
}

.dl>div.scrollbar
{
    margin-top: 407px;
    float:right;
    width: 70px;
}

.scrollbar .scrollup
{
    height: 70px;
    width: 70px;
    background-image: url(btn_scrollup.png);
}
.scrollbar .scrollup.disable_scroll
{
    background-image: url(btn_scrollup_d.png);
}
.scrollbar .scroll
{
    height: 208px;
    width: 66px;
    margin: 0 auto;
    border-left: solid 1px #7f7f7f;
    border-right: solid 1px #7f7f7f;
    background-color: #e5e5e5;
}
.scrollbar .scroll>div
{
    background-color:#7F7F7F;
}
.scrollbar .scrolldown
{
    height: 70px;
    width: 70px;
    background-image: url(btn_scrolldown.png);
}
.scrollbar .scrolldown.disable_scroll
{
    background-image: url(btn_scrolldown_d.png);
}

.fl1>a
{
    position: absolute;
    right: 80px;
    bottom: 85px;
}

.fl1 .handl
{
    position: absolute;
    left: 905px;
    top: 1400px;
    width: 200px;
    height: 120px;
}

.handl>img { position: absolute; }
.handl>img.ci { left: 13px; top: 13px; }
.handl>img.hand { left: 67px; top: 32px; }

/* details */
.hd2
{
    height: 207px;
}
.hd2>img
{ /* qr-code*/
    margin: 28px 0 0 66px;
    width: 100px;
    height: 100px;
}
.hd2>a
{
    margin-top: 79px;
    float:right;
}
.hd2>a.start, .fd1>a.start
{
    margin-right: 130px;
}
.hd2>a.back, .fd1>a.back
{
    margin-right: 59px;
}


.dd1
{
    height: 385px;                   /* Ori: 315 */
    margin: 0 130px 0 66px;
}
.dd1 h1
{
    font-size: 42px;
    line-height: 46px;
    margin: 0 0 19px 0;
    color: #605D5C;
}
.dd1 h1 em
{
    font-style:normal;
}
.dd1 h2
{
    font-size: 46px;
    line-height: 50px;
    margin: 0 0 8px 0;
    color:rgb(96,93,92);     /* Ori: color: #7f7f7f; */
}
.dd1 h3
{
    font-size: 32px;
    line-height: 42px;
    margin: 0 0 6px 0;
    color: #605D5C;
}

.dd1 p.d1
{
    font-size: 32px;
    line-height: 40px;
    margin: 0 0 12px 0;
    color:rgb(96,93,92);     /* Ori: color: #7f7f7f; */
}

.dd1 p.d2
{
    font-size: 23px;
    line-height: 27px;
    color: #605D5C;
}

.dd1 img
{
    float: right;
    width: 150px;
    height: 200px;

}

.dd2
{   margin-top: 20px;
    height: 753px;                 /* Ori: height: 764px; */
}

.dd2>img                              /* Lageplan: vorgegebene Abmessungen --  jeweils ANPASSEN !!! */
{
    width: 1080px;
    height: 753px;            /* Ori:           alt:  height: 764px; */
    /*  background-color:green;  */
}


.fd1>a
{
    margin-top: 162px;              /* Ori: margin-top: 262px;   */
    float:right;
}

.fd1 .handl
{
    float: left;
    position: relative;
    margin: 53px 0 0 169px;         /* Ori: margin: 153px 0 0 169px;    */
    width: 200px;
    height: 120px;
}


.d3
{

    margin-top: 20px;

    font-size: 20px;

    color: #605D5C;

}

/* =================== main.ascx ============================================================ */


.datum
{
    background-color:rgb(240,240,240);
    color: rgb(127,127,127);
     /* margin: 20px 0 0 100px; */
    padding: 20px 0 10px 0px;
              /*     font-family: Arial, Helvetica; sans-serif; */
    font-size: 18px;
    text-align:center;
}

.datum, .datum2, .zeit2
{
    color:rgb(96,93,92);        /* #605d5c = color:rgb(96,93,92); */
}



.Datum2
{
    padding: 50px 0 0px 65px;
    font-size: 40px;
    color: rgb(127,127,127);
}


.Ueberschrift
{
    color: rgb(38,71,150);
     /* margin: 20px 0 0 100px; */
    padding: 40px 0 40px 0;
              /*     font-family: Arial, Helvetica; sans-serif; */
    font-size: 60px;

    text-align:center;
}

.Img1
{
  width:1080px;
}

.Img2                              /* Lupe */
{
  width:50px;
  margin: 10px 0 -7px 0;
}

.Suchfeld
{
                       /*   position:absolute; --- nur Testeinstellung! --- */
                       /*   top:10px; --- nur Testeinstellung! ---              top:0px;   top:780px;          */
                       /*   left:100px; --- nur Testeinstellung! --- */
}


.Suchfeld2
{
   background:rgb(230,230,230);
   height: 70px;
   border-radius: 15px;
   border:solid rgb(80,80,80) 2px;

}


.Suchfeld3
{
   color:rgb(100,100,100);
   font-size: 44px;
}






/* ------------------ Search.ascx ----------------------- */

.userinput                                            /* ------ Tastaturbreite Alle ------ */
{
                    /*  temporär wieder deaktiviert: margin: 0 50px 0 117px;   PM   */
                  /*   background: rgb(255,255,0);   PM   */
}



.userinput1                                            /* ------ Tastatur Rand li -  Zahlenreihe ------ */
{
    margin-left: 117px;
}

.userinput2                                            /* ------ Tastatur Rand li -  ABC Bereich ------ */
{
    margin-left: 117px;
}

.userinput3                                            /* ------ Tastatur  Quertz Bereich ------ */
{
    margin-left: 25px;
    text-align: center;
}


.userinput5                                            /* ------ Tastatur Rand li -   untere Reihe ------ */
{
    margin-left: 292px;

}


.keyboard a:active { outline: 0 none; }


.userinput1 a, .userinput2 a, .userinput3 a, .userinput5 a                    /* Tastenreihen */
{
     display: inline-block;       /* !! Tasten feste Größe zuweisbar !! */
     text-align: center;
     text-decoration: none; outline: 0 none;
     background: linear-gradient(to bottom, rgb(139,177,222), rgb(0,123,192));
     border-radius: 7px;
     margin: 6px 17px 6px 0px;
     height: 70px;
     width: 70px;
     font-size: 50px;
     line-height: 72px;
     color:rgb(255,255,255);
}

.keyboard a.key_space            /* Spacetaste sitzt ca. 1px zu hoch (wg. fehlendem Character), vorerst nicht behebbar, daher Bild hinterlegt */
{
    width: 328px;
    height: 70px;
    margin: 6px 20px 6px 0px;
}

.keyboard a.key_del
{
     font-size: 30px;
}

.search_box
{
     background-color:rgb(255,255,255);         /* Test */
     text-align:center;
}

#ctl08_vc_ctl13_txtFind             /* +++ Textanzeige, innen */
{
     background-color:rgb(240,240,240);      /* Test */
     font-size: 44px;
     color: rgb(0,0,0);
     text-align:center;

     width: 842px;
     height:70px;

     margin:50px 0 30px 7px;
      border:solid black 2px;
      border-radius:7px;
}




.resultspace
{
     margin:50px 0 40px 0;
     text-align:center;
     /* width: 500px;    height: 230px;  */

}

.results div>div
{
     margin:0 0 18px 80px;
     font-size: 28px;
     width: 920px;
     height: 36px;
     background-color: rgb(240, 240, 240);
     border: 2px solid rgb(170,170,170);
     border-radius: 7px;
     padding-top:3px;
}

.results span
{
     color: rgb(50,50,50);

}




.start_Search
{
     margin:0 34px 0 0;
}



/* ------------------ ListABC.ascx ----------------------- */

.Schnellzugr
{
          margin: 20px 170px 0 69px;     /*   +++ OK !   195*/
}

.Schnellzugr2
{
           display:inline;

}

.Schnellzugr3
{
    color:rgb(230,230,230);
     background: rgb(140,140,140);                                      /* background: rgb(140,140,140);  */
           /* seltsam: NICHT überschreibar !    background: linear-gradient(to bottom, rgb(139,177,222), rgb(0,123,192));  */
     border-radius: 5px;


   /*  background-color:rgb(80,80,80); */
    font-size:44px;
    font-weight:bold;
    margin:0 9px 5px 0;
    padding-top: 1px;
    text-align:center;
    display: inline-block;      /* !! Tasten feste Größe zuweisbar !! */
    width: 50px;
    height: 50px;
}



.unbenutzt
{
   color:rgb(210,210,210);
   background-color:rgb(235,235,235);
   /* display: none; */
   /* color:rgb(180,180,180);
   background-color:rgb(230,230,230);   */
}

.groups a     /* Anker-Buchstaben li. oben über Auflistung */
{
   display: none;     /* "unsichtbar" machen */

}