@using Stolltec.Forms.Model
@{
    var Model = new FormsModel(this);
    var data = from x in Model.DataSource("source")
                    group x by x["cat_id"] into y
                    select y.First();
    Page.Home = Model.NavigateHome();
    Layout = "Layout.cshtml";
}

<div class="main">

    <img class="header" alt="header" src="header1.png" />

    <ul>
        @foreach (var x in data) {
            <li>
                <a href="@Model.Navigate("List.cshtml", new { name=x.Resolved("cat_name"), cat = x.Resolved("cat_id") })">@x.Resolved("cat_name")</a>
            </li>
        }
        @if ((string)Model.Style["cat_options"].FieldInstance.Value == "search") {
        <li class="search_mock">
            <a href="@Model.Navigate("Search.cshtml")">
            <span> Suchen</span>
            <img alt="Suche" src="Lupe.png" />
            </a>
        </li>
        } else {
            <!-- Search disabled -->
        }
    </ul>

    <div class="hand"> <img src="hand1.gif" /></div>
</div>