@using Stolltec.Forms.Model
@using Stolltec.Forms.Lookup
@{
    var Model = new FormsModel(this);
    var findString = Request["findValue"];
    var data = Model.DataSource("source").Search(findString,
                new FuzzySearchAlgorithm(), new FixedDefaultListProvider(),
                threshold: 0.3).Take(6);
}

@foreach (var x in data) {
<li>
    <a href="@Model.Navigate("Details.cshtml", new { id = x["id"] })">@x["search_name"]</a>
</li>
}
