@import "./styles/mixins.scss";

/*
 * this file defines global styles
 */

html
{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4vh;
}

body {
  background-color: $color-primary-bg;
  color: $color-primary-fg;

  margin: 0;
	padding: 0;

  /* disable select */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* button list (global for category, list and search) */
ul.btns {
  list-style-type: none;
  padding: 0;

  li:not(.space) {
    background: $color-btn-primary-bg;
    box-shadow: 5px 5px 5px $color-btn-primary-shadow;
    border-radius: 15px;

    &>a {
      display: block;
      text-decoration: none;
      color: $color-btn-primary-fg;
    }
  }
}

/* header (list and detail) */
header {
  height: 204px;
  border-bottom: solid 12px $color-header-border;
  border-top: solid 12px $color-header-border;
  background: url(assets/img/header2.png) no-repeat right;
  font-size:46px;
  padding: 0 0 0 53px;
  line-height: 204px;
}

/* navigation (home, back) */
a.home
{
  @include nav-link;
  background: transparent url(assets/img/home.png) no-repeat center / contain;
}

a.back
{
  @include nav-link;
  background: transparent url(assets/img/back.png) no-repeat center / contain;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;

  .nav-next {
    margin-top: auto;
  }
}
